body {
    background: rgb(2, 2, 37);
}

body::-webkit-scrollbar {
    width: 0;
  }

.website {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    color: cadetblue;
    position: fixed;
    height: 80px;
    width: 100%;
    background: rgba(2, 2, 80, 0.9);
    transition: top 0.2s;
    z-index: 9999;
}

.logo {
    width: 100px;
    align-self: flex-start;
    height: 80px;
}

.logo img {
    height: 100%;
    margin-right: 20px;
}

.sections {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 100%;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.banner {
    display: flex;
    flex-direction: column;
    color: cadetblue;
    height: calc(100vh - 80px);
    padding-top: 80px;
    justify-content: center;
}

.banner h2 {
    font-size: clamp(1rem , 12vw, 6rem);
    margin-top: -10px;
    margin-bottom: -10px;
}

.banner p {
    width: clamp(300px, 400px, 600px);
}

.about {
    border: 1px solid red;
    height: 100vh;
}

.ani-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ani-logo svg {
    height: 300px;
}

.right-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50px;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
    margin-left: calc(100vw - 50px);
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 50px;
    height: 200px;
    margin-top: auto;
    margin-bottom: 50px;
    margin-right: 10px;
}

.left-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50px;
    height: 100vh;
    align-items: center;
    justify-content: flex-end;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}

.text, .icon {
    color: cadetblue;
    display: inline-block;
}

.text:hover, .icon:hover {
    color: white;
    cursor: pointer;
}